<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <script src="static/libs/dropzone/dropzone.js"></script>
    <script src="static/libs/bootstrap/js/bootstrap.js"></script>
    <script src="static/libs/jquery/jquery-3.5.1.js"></script>
    <script src="static/javascript.js"></script>
    <link rel="stylesheet" href="static/libs/dropzone/dropzone.css">
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.css">
    <title>Get My BIBTEX</title>
</head>

<body>
<div class="container">

    <div class="content">

        <div class="page-header">
            <p class="h1">Get my bibtex</p>
        </div>

<!--        <row>-->
<!--            <div class="col-4">-->
                <form action="/references/process"
                      class="dropzone"
                      id="my-awesome-dropzone">
                    <div class="fallback">
                        <input name="input" type="file" multiple/>
                    </div>
                </form>
<!--            </div>-->
<!--            <div class="col-4">-->
<!--                <div class="jumbotron">-->
<!--                    <h1 class="display-4">Hello, world!</h1>-->
<!--                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra-->
<!--                        attention to featured content or information.</p>-->
<!--                    <hr class="my-4">-->
<!--                    <p>It uses utility classes for typography and spacing to space content out within the larger-->
<!--                        container.</p>-->
<!--                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </row>-->
        <div>TODO: Disable consolidation</div>

        <div class="w-auto border">
            <pre id="result"></pre>
        </div>
    </div>
</div>
</body>

</html>


